# 2.
Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь.

In [30]:
print('Выберите фигуру:\n1 - треугольник\n2 - прямоугольник\n3 - круг')
choice = int(input())
match choice:
    case 1:
        print('Введите значения для сторон a b c через пробел: ')
        (a, b, c) = [int(i) for i in(input().split())]
        p = (a + b + c) / 2
        result = (p * (p - a) * (p - b) * (p - c)) ** 0.5
        print('Площадь треугольника: ', result)
    case 2:
        print('Введите значения для сторон a b через пробел: ')
        (a, b) = [int(i) for i in(input().split())]
        print('Площадь прямоугольника: ', a * b)
    case 3:
        print('Введите значение радиуса r: ')
        r = int(input())
        pi = 3.14159265358979
        result = pi * r ** 2
        print('Площадь круга: ', result)

Выберите фигуру:
1 - треугольник
2 - прямоугольник
3 - круг

 3

Введите значение радиуса r:

 3

Площадь круга:  28.27433388230811

# 3.
Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень.

In [32]:
a = int(input())
b = int(input())
sign = input()
match sign:
    case '+':
        print(a + b)
    case '-':
        print(a - b)
    case '/':
        print(a / b)
    case '//':
        print(a // b)
    case 'abs':
        print(abs(a))
        print(abs(b))
    case 'pow' | '**':
        print(a ** b)

 2
 2
 -

0

# 4.
Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел

In [34]:
arr = []
arr.append(int(input()))
while sum(arr) != 0:
    arr.append(int(input()))
arr = [i ** 2 for i in arr]
print(sum(arr))

 1
 2
 -3

14

# 5.
Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [36]:
n = int(input())
current = 1
counter = 1
for i in range(n):
    print(current, end = ' ')
    counter -= 1
    if (counter == 0):
        current += 1
        counter = current

 7

1 2 2 3 3 3 4

# 6.
Даны два списка:
А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}

In [38]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
B_set = set(B)
C = {}
for i in B_set:
    C[i] = 0
for i in range (len(A)):
    C[B[i]] += A[i]

print(C)

{'b': 11, 'c': 17, 'a': 17}

# 7.
Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

In [83]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
#frame = pd.DataFrame(data.data, columns=data.feature_names)
frame = data.frame
frame

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

# 8.
Использовать метод info()

In [85]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

# 9.
Узнать, есть ли пропущенные значения, используя isna().sum()

In [87]:
print(frame.isna().sum())

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

# 10.
Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [89]:
frame.loc[(frame['HouseAge'] > 50) & (frame['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

# 11.
Узнать максимальное и минимальное значения медианной стоимости дома.

In [91]:
print(frame["MedHouseVal"].max())

5.00001

In [93]:
print(frame["MedHouseVal"].min())

0.14999

# 12.
Используя метод apply(), вывести на экран название признака и его
среднее значение

In [95]:
frame_mean = frame.apply(lambda x: x.mean())
for feature, mean in frame_mean.items():
    print(feature, " - ", mean)

MedInc  -  3.8706710029069766
HouseAge  -  28.639486434108527
AveRooms  -  5.428999742190376
AveBedrms  -  1.096675149606208
Population  -  1425.4767441860465
AveOccup  -  3.0706551594363742
Latitude  -  35.63186143410853
Longitude  -  -119.56970445736432
MedHouseVal  -  2.068558169089147

# 1.*
Дан текст на английском языке. Необходимо закодировать его с
помощью азбуки Морзе, где каждой букве соответствует
последовательность точек и тире. Например, буква «g» превратится в
строку «--.». В переменной morze для удобства хранится словарь
соответствия латинских букв коду Морзе.

In [97]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
'y': '-.--', 'z': '--..'}

In [103]:
morze[' '] = '\n'
text = input().lower()
for symbol in text:
    print(morze[symbol], end=' ')

 Ignition sequence start

.. --. -. .. - .. --- -.
 … . --.- ..- . -. -.-. .
 … - .- .-. -

# 2.*
В некотором городе открывается новая служба по доставке электронных
писем. Необходимо наладить систему регистрации новых
пользователей.
Регистрация должна работать следующим образом: если новый
пользователь хочет зарегистрироваться на сайте, то он должен послать
системе запрос name со своим именем. Система должна определить,
существует ли уже такое имя в базе данных. Если такого имени не
существует, то оно заносится в базу данных системы и пользователю
возвращается ответ "ОК", подтверждающий успешную регистрацию. А
если пользователь с таким именем уже существует, то система должна
сформировать новое имя и выдать его пользователю в качестве
подсказки, при этом сама подсказка также добавляется в базу данных.
Новое имя формируется следующим образом: к name последовательно
приписываются числа, начиная с 1 (name1, name2 и так далее), и среди
них находят такое наименьшее i, что namei еще не содержится в системе.

In [111]:
users = {}
for i in range(int(input())):
    name = input()
    if (users.get(name) == None):
        print('OK')
        users[name] = 1
    else:
        print(name, users[name], sep='')
        users[name] += 1

 10
 fpqhfouqdldravpjttarh

OK

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh1

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh2

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh3

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh4

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh5

 jmvlplnrmba

OK

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh6

 jmvlplnrmba

jmvlplnrmba1

 fpqhfouqdldravpjttarh

fpqhfouqdldravpjttarh7

# 3.*
Необходимо создать программу обработки запросов пользователей к
файловой системе компьютера. Над каждым файлом можно производить
следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x
("execute").

In [113]:
files = {}
dict = {"read": "r", "write": "w", "execute": "x"}
for i in range(int(input())):
    file = input().split()
    filename = file[0]
    files[filename] = file[1::]
for i in range(int(input())):
    command, filename = input().split()
    accesses = files[filename]
    command = dict.get(command)
    if (accesses != None and accesses.count(command) == 1):
        print('OK')
    else:
        print('Access denied')

 3
 python.exe x
 book.txt r w
 notebook.exe r w x
 5
 read python.exe

Access denied

 read book.txt

OK

 write notebook.exe

OK

 execute notebook.exe

OK

 write book.txt

OK